.table-image {
    height: 50px;
    width: 50px;
}

#addRepeatJobButton {
    background-color: #FFC108;
    border: 0.5px solid black;
    margin-left: 4px;
}

#myInput {
    margin-top: 2px;
    margin-right: 4px;
}

#addNewJob {
    margin-left: 4px;
    margin-right: 8px;
}

#logOutLink {
    color: #fff;
}


th {
    text-align: center;
}

#jobTarget {
    margin-top: 70px;
    text-align: center;
}

.toggle {
    width: 100%;    
}

#toggleBox {
    width: 100%;
}





/* NAVBAR STYLING /////////////////////////////////////////*/
.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

#main-nav {
    background-color: #FFC108;
    color: #000000;
    font-family: 'Poiret One', cursive;
    
}

#navLogo {
    height: 60px;
    width: 60px;
}

#navTitle {
    color: #000000;
    font-size: 22pt;
    font-family: 'Righteous', cursive;
}
/* NAVBAR STYLING /////////////////////////////////////////*/

