.table-image {
    height: 50px;
    width: 50px;
}

.container-fluid {
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
}

.input-container {
    display: flex;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background-color: #FFC108;
    color: #000;
    min-width: 50px;
    text-align: center;    
}

.body-form {
    margin-top: 100px;
}

h4 {
    text-align: center;
}

.border-right {
    border-right: 2px #FFC108 solid;
}

#addRepeatJobButton {
    background-color: #FFC108;
    border: 0.5px solid black;
}

#myInput {
    margin-top: 2px;
    margin-right: 4px;
}



#logOutLink, #endUserLink {
    color: #fff;
}


th {
    text-align: center;
}

#jobTarget {
    margin-top: 70px;
    text-align: center;
}

.toggle {
    width: 100%;    
}

#toggleBox {
    width: 100%;
}





/* NAVBAR STYLING /////////////////////////////////////////*/
.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

#main-nav {
    background-color: #FFC108;
    color: #000000;
    font-family: 'Poiret One', cursive;
    
}

#navLogo {
    height: 60px;
    width: 60px;
}

#navTitle {
    color: #000000;
    font-size: 22pt;
    font-family: 'Righteous', cursive;
}

.nav-item {
    margin-right: 4px;
}
/* NAVBAR STYLING /////////////////////////////////////////*/

